<div class="slo-navigation-container">
  <app-header></app-header>
  <mat-sidenav-container class="slo-sidenav-container">
    <mat-sidenav
      role="navigation"
      mode="side"
      [opened]="sidenavUiQuery.selectIsOpen$ | async"
    >
      <app-navigation
        [navItems]="sidenavUiQuery.navItems$ | async"
      ></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
