<app-table
  [displayedColumns]="displayedColumns"
  [dataSource]="dataSource"
  *ngIf="dataSource && dataSource.filteredData.length > 0"
  [trackBy]="trackRow"
>
  <ng-container *ngFor="let col of tableColumnDefs; let index = index">
    <ng-container
      *ngIf="
        col.columnDefName &&
        col.columnDefName !== 'date' &&
        col.columnDefName !== 'distance' &&
        col.columnDefName !== 'duration'
      "
      [matColumnDef]="col.columnDefName"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ col.headerText }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element[col.columnDefName] }}
      </td>
    </ng-container>

    <!-- Date column -->
    <ng-container *ngIf="col.columnDefName && col.columnDefName === 'date'">
      <app-date-column
        [columnDefName]="col.columnDefName"
        [headerCellText]="col.headerText"
      ></app-date-column>
    </ng-container>

    <!-- Duration column -->
    <ng-container *ngIf="col.columnDefName && col.columnDefName === 'duration'">
      <app-numeric-column
        [columnDefName]="col.columnDefName"
        [headerCellText]="col.headerText"
        [dynamicPipeObj]="durationPipeObj"
      ></app-numeric-column>
    </ng-container>

    <!-- Distance column -->
    <ng-container *ngIf="col.columnDefName && col.columnDefName === 'distance'">
      <app-numeric-column
        [columnDefName]="col.columnDefName"
        [headerCellText]="col.headerText"
        [dynamicPipeObj]="distancePipeObj"
      ></app-numeric-column>
    </ng-container>
  </ng-container>
</app-table>
<div *ngIf="!dataSource || dataSource.filteredData.length === 0">
  No activities found
</div>
